@media screen and (min-width:750px){
body{
  width: 100%;
  background-color: #04111C;
  background-image: url("img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.allbox{
  width: 100%;
  height: 400px;
  max-width: 1366px;
  position: relative;top:164px;
  margin: 0 auto;
}
.img-aboutF1{
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.img-aboutF2{
  width: 700px;
  height: 350px;
  object-fit: cover;
  position: absolute;top: 0px;left: 14.12%;
}
.img-aboutF3,.img-aboutF4{
  width: 360px;
  height: 180px;
  object-fit: cover;
  position: relative;top: -80px;right: 80px;
}
.cover{
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;top: 0px;left: 0px;
  opacity: 0.5;
}
.cover2{
  width: 742px;
  height: 395px;
  background-color: black;
  opacity: 0.5;
  position: absolute;top: 350px;right:14.12%;
  z-index: 10;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;right: 20px;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: white;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu1 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: white;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  position: relative;left: -4px;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: rgba(0,0,0,0);
  text-align: left;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: rgba(0,0,0,0);
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
}
#menu2{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position: absolute;left: -22px;
}
#menu2 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu2 li a {
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu2 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu2 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu2 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu2 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu2 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#nav-drawer {
  display: none;
}
.title1{
  font-size: 96px;
  font-family: impact;
  color: white;
  text-align: center;
  position: relative;top: 64px;
}
.title2{
  font-size: 32px;
  color: white;
  font-weight: 700;
  font-family: "Hiragino Sans";
  text-align: center;
  position: relative;top: -16px;
}
.title3,.title4,.title6,.title9{
  font-size: 72px;
  font-family: impact;
  color:  #D6E1F4;
  position: relative;top:156px;
  text-align: center;
}
.title4{
  position: relative;top: 792px;
}
.title5{
  font-size: 50px;
  font-family: impact;
  color:  #D6E1F4;
  position: relative;top:-120px;right: 80px;
}
.title6{
  position: relative;top: 1956px;
}
.title7,.title8{
  font-size: 50px;
  font-family: impact;
  width: 120px;
  color:  #D6E1F4;
  position: relative;top: -128px;right: 8px;
}
.title8{
  width: 200px;
}
.title9{
  position: relative;top:2876px;
}
.bar1{
  width: 254px;
  height: 4px;
  position: relative;top: -48px;
  margin:0 auto;
  background-color:  #D6E1F4;
}
.bar2,.bar3,.bar4,.bar5{
  width: 60px;
  height: 12px;
  position: relative;top: 84px;
  margin: 0 auto;
  background-color:  #D6E1F4;
}
.bar3{
  position: relative;top: 720px;
}
.bar4{
  position:relative;top:1884px
}
.bar5{
  position: relative;top: 2804px;
}
.box1{
  width: 100%;
  height: 200px;
  position: absolute;top: 0px;
}
.box2,.box3{
  width: 100%;
  height: 200px;
  max-width: 940px;
  min-width: 880px;
  position: relative;top: 1124px;
  margin: 0 auto;
}
.box3{
  position: relative;top: 2064px;
}
.box4{
  width: 700px;
  height: 300px;
  position: relative;top: 3080px;
  margin: 0 auto;
}
.button1{
  width:102px;
  height:48px;
  border:2px solid #D6E1F4;
  float:left;
  text-align:center;
  cursor:pointer;
  position:absolute;top: 276px;left: 128px;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button1 a{
  font-family:impact;
  font-size:32px;
  color:#D6E1F4;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  text-align: center;
  padding: auto;
}
.eff-1{
  width:102px;
  height:48px;
  left:-102px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button1:hover .eff-1{
  left:0;
}
.button1:hover a{
  color:#04111C;
}
.triangle1{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 240px 160px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 350px;right: 14.12%;
  z-index: 20;
}
.triangle2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 0 240px;
  border-color: transparent transparent transparent #3A1581;
  position: relative;top: 235px;right: 502px;
}
.triangle3,.triangle5,.triangle7,.triangle9{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 360px 332px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top:0px;left: 80px;
}
.triangle4,.triangle6,.triangle8,.triangle10{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 360px 332px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top:0px;right: 0px;
}
.triangle4,.triangle8{
  position: absolute;top:120px;right: 0px;
}
.triangle5,.triangle9{
  position: absolute;top: 532px; left: 80px;
}
.triangle6,.triangle10{
  position: absolute;top: 652px; right: 0px;
}
.tri-text1{
  font-size: 40px;
  color: #D6E1F4;
  font-weight: 700;
  font-family: "Hiragino Sans";
  width: 330px;
  position: relative;top: -395px;left: -200px;
}
.tri-text2{
  font-size: 20px;
  color: #D6E1F4;
  font-weight: 400;
  font-family: "Hiragino Sans";
  width: 662px;
  position: relative;top: -440px;left: -200px;
}
.tri-text3{
  width: 288px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color:  #D6E1F4;
  position: relative;top: -208px;right: 8px;
}
.tri-text4,.tri-text6,
.tri-text7,.tri-text8{
  width: 100px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color:  #D6E1F4;
  position: relative;top: -212px;right: -128px;
}
.tri-text5{
  width: 320px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color:  #D6E1F4;
  position: relative;top: -224px;right: 8px;
}
.tri-text6{
  position: relative;top: -212px; right: -200px;
}
.tri-text7{
  position: relative;top: -212px; right: -192px;
  width: 150px;
}
.tri-text8{
  position: relative;top: -212px;right: -176px;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cp_qa {
  border-top: 4px solid #D6E1F4;
  width: 800px;
  margin: 0 auto;
  position: relative;top: 2864px;
}
.cp_qa .cp_actab {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1px;
  color: #D6E1F4;
}
.cp_qa .cp_actab input {
  position: absolute;
  opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
  font-weight: 700;
  font-family: "Hiragino Sans";
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  display: block;
  margin: 0 0 0 0;
  padding: 1em 2em 1em 1em;
  cursor: pointer;
  border-bottom: 4px solid #D6E1F4;
}
.cp_qa .cp_actab label:hover {
  color: #D6E1F4;
  background-color: #000088
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease;
          transition: max-height 0.5s ease;
  color: #ffffff;
  background: rgba(0, 131, 143, 0.5);
}
.cp_qa .cp_actab .cp_actab-content p {
  margin: 1em;
}
/* 質問を開いた時の仕様 */
/* --アイコン */
.cp_qa .cp_actab input:checked ~ label {
  color: #e0dc62;
}
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
  max-height: 40em;
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab label::after {
  line-height: 1.6;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 3em;
  margin-top: -12.5px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  text-align: center;
}
.cp_qa .cp_actab input[type=checkbox] + label::after {
  content: '▽';
}
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.mailadd,.JFSA{
  font-size: 24px;
  font-family: impact;
  color: #D6E1F4;
  text-align: center;
  position: relative;top:72px;
}
.JFSA{
  position: relative;top:162px;
  margin-bottom: 120px;
}
.LINE,.insta,.twitter,.YouTube{
  width: 60px;
  height: 60px;
}
.LINE{
  position: absolute;top: 125px;left: 176px;
}
.insta{
  position: absolute;top: 125px;left: 272px;
}
.YouTube{
  position: absolute;top: 125px;left: 368px;
}
.twitter{
  position: absolute;top: 125px;left: 464px;
}
}

@media screen and (max-width:750px){
body{
  width: 750px;
  background-color: #04111C;
  background-image: url("img/backscreen.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.allbox{
  width: 750px;
  height: 800px;
  position: relative;top:572px;
  margin: 0 auto;
}
.img-aboutF1{
  width: 750px;
  height: 800px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.img-aboutF2{
  width: 750px;
  height: 375px;
  object-fit: cover;
  position: absolute;top: 0px;left: -8px;
}
.img-aboutF3{
  width: 640px;
  height: 320px;
  object-fit: cover;
  position: relative;top: -110px;right: 118px;
}
.img-aboutF4{
  width: 640px;
  height: 320px;
  object-fit: cover;
  position: relative;top: -582px;right: -110px;
}
.cover{
  width: 750px;
  height: 800px;
  background-color: black;
  position: absolute;top: 0px;left: 0px;
  opacity: 0.5;
}
.cover2{
  width: 750px;
  height: 864px;
  background-color: black;
  opacity: 0.5;
  position: absolute;top: 378px;right: 8px;
  z-index: 10;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;right: 20px;
  display: none;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: white;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu1 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: white;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  position: relative;left: -4px;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: rgba(0,0,0,0);
  text-align: left;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: rgba(0,0,0,0);
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
}
#menu2{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position: absolute;left: -22px;
}
#menu2 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu2 li a {
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu2 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu2 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu2 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu2 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu2 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#nav-drawer {
  position: relative;
  position: absolute;top: 56px;left: 622px;
}
.nav-unshown {
  display:none;
}
#nav-open {
    display: inline-block;
    width: 72px;
    height: 50px;
    vertical-align: middle;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;left: 0px;
    height: 8px;
    width: 72px;
    border-radius: 3px;
    background: white;
    display: block;
    content: '';
    cursor: pointer;
    z-index: 500;
}
#nav-open span:before {
    bottom: -20px;
}
#nav-open span:after {
    bottom: -40px;
}
#nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 90%;
    max-width: 500px;
    height: 100%;
    background: #000033;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#menu3{
  list-style-type: none;
}

#menu3 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 40px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
  border-top: 2px solid white;
}
#menu3 li ul li{
  list-style-type: none;
}
#menu3 li ul li a{
  list-style-type: none;
  border-top: none;
  border-bottom: none;
  color: #FFFF33;
}
.titlebox{
  width: 750px;
  height: 200px;
  position: relative;top: 218px;
  margin:0 auto;
  z-index: 200;
}
.title1{
  font-size: 96px;
  font-family: impact;
  color: white;
  text-align: center;
  position: relative;top: 0px;
}
.title2{
  font-size: 32px;
  color: white;
  font-weight: 700;
  font-family: "Hiragino Sans";
  text-align: center;
  position: relative;top: -104px;
}
.title3,.title4,.title6,.title9{
  font-size: 72px;
  font-family: impact;
  color:  #D6E1F4;
  position: relative;top:0px;
  text-align: center;
}
.title4{
  position: relative;top: 1312px;
}
.title5{
  font-size: 60px;
  font-family: impact;
  color:  #D6E1F4;
  position: relative;top:-153px;right: 16px;
}
.title6{
  position: relative;top: 4428px;
}
.title7,.title8{
  font-size: 60px;
  font-family: impact;
  width: 500px;
  color:  #D6E1F4;
  position: relative;top: -608px;left: 110px;
  z-index: 200;
}

.title9{
  position: relative;top:7352px;
}
.bar1{
  width: 254px;
  height: 4px;
  position: relative;top: -136px;
  margin:0 auto;
  background-color:  #D6E1F4;
}
.bar2,.bar3,.bar4,.bar5{
  width: 60px;
  height: 12px;
  position: relative;top: -72px;
  margin: 0 auto;
  background-color:  #D6E1F4;
}
.bar3{
  position: relative;top: 1240px;
}
.bar4{
  position:relative;top:4356px
}
.bar5{
  position: relative;top: 7280px;
}
.box1{
  width: 750px;
  height: 200px;
  position: absolute;top: 240px;
}
.box2,.box3{
  width: 750px;
  height: 200px;
  position: relative;top: 1800px;
  margin: 0 auto;
}
.box3{
  position: relative;top: 4604px;
}
.box4{
  width: 700px;
  height: 300px;
  position: relative;top: 7612px;
  margin: 0 auto;
}
.button1{
  width:102px;
  height:48px;
  border:2px solid #D6E1F4;
  float:left;
  text-align:center;
  cursor:pointer;
  position:absolute;top: 484px;left: 370px;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button1 a{
  font-family:impact;
  font-size:32px;
  color:#D6E1F4;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  text-align: center;
  padding: auto;
}
.eff-1{
  width:102px;
  height:48px;
  left:-102px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button1:hover .eff-1{
  left:0;
}
.button1:hover a{
  color:#04111C;
}
.triangle1{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 240px 160px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 378px;right: 8px;
  z-index: 20;
}
.triangle2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 0 240px;
  border-color: transparent transparent transparent #3A1581;
  position: relative;top: 704px;right: 510px;
}
.triangle3,.triangle5{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 640px 474px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top:0px;left: 110px;
}
.triangle4,.triangle6{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 640px 474px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top:750px;right: 0px;
}
.triangle7,.triangle9{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 474px 640px 0px 0;
  border-color:  #3A1581 transparent transparent transparent;
  position: absolute;top:0px;left: -8px;
}
.triangle8,.triangle10{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 474px 640px 0px 0px;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top:770px;left:-8px;
}
.triangle5{
  position: absolute;top:1500px;left:110px;
}
.triangle6{
  position: absolute;top:2250px;left:110px;
}
.triangle9{
  position: absolute;top: 1540px; left: -8px;
}
.triangle10{
  position: absolute;top: 2310px; left: -8px;
}

.tri-text1{
  font-size: 40px;
  color: #D6E1F4;
  font-weight: 700;
  font-family: "Hiragino Sans";
  width: 330px;
  position: relative;top: -788px;left: -197px;
}
.tri-text2{
  font-size: 28px;
  color: #D6E1F4;
  font-weight: 400;
  font-family: "Hiragino Sans";
  width: 664px;
  height: 544px;
  position: relative;top: -788px;left: -197px;
}
.tri-text3{
  width: 443px;
  height: 203px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color:  #D6E1F4;
  position: relative;top: -280px;right: -80px;
}
.tri-text4,.tri-text6,
.tri-text7,.tri-text8{
  width: 300px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color:  #D6E1F4;
  position: relative;top: -712px;left: 328px;
  z-index: 250;
}
.tri-text5{
  width: 320px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color:  #D6E1F4;
  height: 203px;
  width: 512px;
  position: relative;top: -696px;left: 110px;
  line-height: 1.8;
}
.tri-text6{
  position: relative;top: -712px; left: 416px;
}
.tri-text7{
  position: relative;top: -712px; left: 400px;
}
.tri-text8{
  position: relative;top: -712px; left: 386px;
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cp_qa {
  border-top: 4px solid #D6E1F4;
  width: 700px;
  margin: 0 auto;
  position: relative;top: 7416px;
}
.cp_qa .cp_actab {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1px;
  color: #D6E1F4;
}
.cp_qa .cp_actab input {
  position: absolute;
  opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
  font-weight: 700;
  font-family: "Hiragino Sans";
  font-size: 28px;
  line-height: 1.6;
  position: relative;
  display: block;
  margin: 0 0 0 0;
  padding: 1em 2em 1em 1em;
  cursor: pointer;
  border-bottom: 4px solid #D6E1F4;
}
.cp_qa .cp_actab label:hover {
  color: #D6E1F4;
  background-color: #000088;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease;
          transition: max-height 0.5s ease;
  color: #ffffff;
  background: rgba(0, 131, 143, 0.5);
}
.cp_qa .cp_actab .cp_actab-content p {
  margin: 1em;
  font-size: 28px;
  font-weight: 400;
  font-family: "Hiragino Sans"
}
/* 質問を開いた時の仕様 */
/* --アイコン */
.cp_qa .cp_actab input:checked ~ label {
  color: #e0dc62;
}
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
  max-height: 40em;
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab label::after {
  line-height: 1.6;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 3em;
  margin-top: -12.5px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  text-align: center;
}
.cp_qa .cp_actab input[type=checkbox] + label::after {
  content: '▽';
}
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.mailadd,.JFSA{
  font-size: 24px;
  font-family: impact;
  color: #D6E1F4;
  text-align: center;
  position: relative;top:72px;
}
.JFSA{
  position: relative;top:162px;
  margin-bottom: 120px;
}
.LINE,.insta,.twitter,.YouTube{
  width: 60px;
  height: 60px;
}
.LINE{
  position: absolute;top: 125px;left: 176px;
}
.insta{
  position: absolute;top: 125px;left: 272px;
}
.YouTube{
  position: absolute;top: 125px;left: 368px;
}
.twitter{
  position: absolute;top: 125px;left: 464px;
}
}
