body{
  width: 100%;
  background-color: #04111C;
  background-image: url("img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.img-about1{
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.cover{
  width: 100%;
  height: 500px;
  background-color: black;
  position: absolute;top: 0px;left: 0px;
  opacity: 0.5;
}
.cover2{
  width: 450px;
  height: 300px;
  background-color: black;
  opacity: 0.5;
  position: absolute;top: 0px;left: 0px;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;right: 20px;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: white;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu1 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: white;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  position: relative;left: -4px;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: rgba(0,0,0,0);
  text-align: left;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: rgba(0,0,0,0);
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
}
.title1{
  font-size: 96px;
  font-family: impact;
  color: white;
  text-align: center;
  position: relative;top: 68px;
}
.title2{
  font-size: 32px;
  color: white;
  font-weight: 700;
  font-family: "Hiragino Sans";
  text-align: center;
  position: relative;top: -14px;
}
.bar1{
  width: 287px;
  height: 4px;
  position: relative;top: -46px;
  margin:0 auto;
  background-color:  #D6E1F4;
}
.bar2{
  width: 216px;
  height: 4px;
  position: absolute;top: 72px;left: 480px;
  background-color:  #D6E1F4;
}
.box1{
  width: 900px;
  position: relative;top: 200px;
  background-color: red;
  margin: 0 auto;
}
.box2{
  width: 900px;
  height: 300px;
  position: absolute;
  background-color: #3A1581;
}
.img-about2{
  width: 450px;
  height: 300px;
  object-fit: cover;
  position: relative;top: 0px; left: 0px;
}
.box2-text1{
  color: #D6E1F4;
  font-size: 27px;
  font-family: "Hiragino Sans";
  width: 360px;
  font-weight: 700;
  position: absolute;left: 480px;top: 4px;
}
.box2-text2{
  color: #D6E1F4;
  font-size: 20px;
  font-family: "Hiragino Sans";
  font-weight: 400;
  width: 390px;
  height: 180px;
  position: absolute;left: 480px; top:78px;
}
.button1{
  width: 450px;
  height: 300px;
  float:left;
  text-align:center;
  cursor:pointer;
  position: absolute;top: 0px;left: -50px;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button1 a{
  font-size: 56px;
  font-family:impact;
  color:#D6E1F4;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;top: 116px;
  text-align: center;
  text-decoration: none;
}
.eff-1{
  width:450px;
  height:300px;
  left:-450px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button1:hover .eff-1{
  left:0;
}
.button1:hover a{
  color:#3A1581;
}
