body{
  width: 100%;
  background-color: #04111C;
  background-image: url("img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.allbox{
  width: 100%;
  height: 400px;
  max-width: 1366px;
  position: relative;top:1034px;
  margin: 0 auto;
}
.box1{
  width: 100%;
  height: 300px;
  max-width: 1366px;
  position: relative;top: 800px;
  margin: 0 auto;
}
.box2{
  width: 100%
  height:200px;
  position: relative;top: 1000px;
  margin:0 auto;
}
.box3{
  width: 100%;
  height: 200px;
  position: relative;top: 0px;
  margin: 0 auto;
}
.box4,.box5,.box6{
  width: 800px;
  height: 700px;
  position: relative;top: 1000px;
  margin: 0 auto;
}
.box5{
  height: 550px;
}
.box6{
  height: 100px;
  position: relative;top: 1224px;
}
.button1,.button2,.button3,
.button4{
  width:102px;
  height:48px;
  border:2px solid #D6E1F4;
  float:left;
  text-align:center;
  cursor:pointer;
  position:absolute;top: 335px;right: 20.86%;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button2{
  position: absolute;top: 348px;right: 20px;
}
.button3{
  position: absolute;top: 422px;right: 20px;
}
.button4{
  position: absolute;top: 496px;right: 20px;
}
.button1 a,.button2 a,.button3 a,
.button4 a{
  font-family:impact;
  font-size:32px;
  color:#D6E1F4;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  text-align: center;
}
.eff-1{
  width:140px;
  height:50px;
  left:-140px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button1:hover .eff-1,
.button2:hover .eff-1,
.button3:hover .eff-1,
.button4:hover .eff-1{
  left:0;
}
.button1:hover a{
  color:#3A1581;
}
.button2:hover a,
.button3:hover a,
.button4:hover a{
  color:#000088;
}
.imgh1{
  width: 100%;
  height: 768px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.imgh2{
  position: absolute; top: 160px;right: 9%;
  width: 560px;
  height: 489px;
}
.imgh3{
  width: 683px;
  height: 500px;
  position: absolute;top: 0px; left: 0px;
}
.imgh4,.imgh5,.imgh6,.imgh7{
  width: 480px;
  height: 240px;
}
.imgh8,.imgh9{
  width: 56px;
  position: relative;top: 66px;left: 185px;
}
.imgh9{
  position: relative;top: 66px;left: 170px;
}
.imgh10,.imgh12,.imgh13{
  width: 72px;
  position:relative;top: 58px;left: 204px;
}
.imgh12{
  position:relative;top: 64px;left: 204px;
}
.imgh13{
  position:relative;top: 54px;left: 204px;
}
.LINE,.insta,.twitter,.YouTube{
  width: 60px;
  height: 60px;
}
.LINE{
  position: absolute;top: 112px;left: 226px;
}
.insta{
  position: absolute;top: 112px;left: 322px;
}
.YouTube{
  position: absolute;top: 112px;left: 418px;
}
.twitter{
  position: absolute;top: 112px;left: 514px;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;right: 20px;
}
#menu2{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position: relative;top: 0px;
  margin: 0 auto;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu2 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu2 li a {
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu2 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

#menu1 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  position: relative;left: -4px;
}
#menu2 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}
#menu2 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu2 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#menu2 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}

h2{
  font-size: 32px;
  font-family: Impact;
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:0px;
  text-align: center;
  margin-bottom: 40px;
}
h3{
  font-size: 24px;
  font-family: "Hiragino Sans";
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:0px;
  text-align: center;
  margin-bottom: 0px;
}
.title1,.title2,.title3,.title4{
  font-size: 72px;
  color: #D6E1F4;
  font-family: impact;
  position: relative;top:0px;
  text-align: center;
}
.title2{
  position: relative;top: 0px;
}
.title3{
  position: relative;top: 0px;
}
.title4{
  position: relative;top: 0px;
}
.more1,.more2,.more3{
  font-size: 40px;
  color: #D6E1F4;
  font-family: impact;
  position: absolute;top: 310px; left: 512px;
}
.more2{
  position: absolute;top: 382px; left: 512px;
}
.more3{
  position: absolute;top: 454px; left: 512px;
}
.circle1,.circle2,.circle3{
  width: 40px;
  height: 40px;
  background-color: #68D92D;
  border-radius: 50%;
  position: absolute;top:356px;left:448px;
}
.circle2{
  background-color: #6AABF7;
  position: absolute;top:426px;left:448px;
}
.circle3{
  background-color: #FF0000;
  position: absolute;top:498px;left:448px;
}
.bar1{
  width: 80px;
  height: 8px;
  background-color: #D6E1F4;
  position:relative;top: 60px;
  margin:0 auto;
}
.bar2{
    width: 40px;
    height: 8px;
    background-color: #D6E1F4;
    position:relative;top: 72px;
    margin:0 auto;
}
.bar3{
    width: 12px;
    height: 8px;
    background-color: #D6E1F4;
    position:relative;top: 84px;
    margin:0 auto;
}
.bar4,.bar5,.bar10,.bar11{
    width: 60px;
    height: 12px;
    background-color: #D6E1F4;
    position:relative;top: -72px;
    margin: 0 auto;
}
.bar5{
    position:relative;top: -74px;
}
.bar6,.bar7,.bar8,.bar9{
  width: 416px;
  height: 4px;
  background-color: #D6E1F4;
  position: relative;top: -300px;left: 80px;
}
.bar7{
  width: 256px;
}
.bar8{
  width: 320px;
}
.bar9{
  width: 224px;
}
.bar10{
  position: relative;top: -72px;
}
.bar11{
  position: relative;top:-72px;
}
.bar12,.bar13{
  width: 720px;
  height: 2px;
  position: absolute;top: 158px;left: 40px;
  background-color: #D6E1F4;
}
.bar13{
  position: absolute;top: 484px;left: 40px;
}
.hbox1{
  width: 100%;
  height: 500px;
  position: relative;top: -14px;left: 0px;
  background-color: #3A1581;
}
.hbox1 p {
  font-size: 24px;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: absolute;top: 100px;right: 4.53%;
  width: 560px;
  font-weight: 700;
}


.triangle1,.triangle2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 256px;right: 682px;
}
.triangle3,.triangle4{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 824px;left: 0px;
}
.triangle2{
  position: absolute;top: 256px;right: 80px;
}
.triangle4{
  position: absolute;top: 824px; left:602px;
}
.tritext1,.tritext3,.tritext5,.tritext7 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: -268px;left: 80px;
  width: 416px;
}
.tritext1link{
  text-decoration: none;
  color: #D6E1F4;
}
.tritext1link :hover{
	transform: scale(1.05);
}
.tritext2,.tritext4,.tritext6,.tritext8 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  width: 330px;
  position: relative;top: -300px;left: 80px;
}
.tritext3{
  width: 256px;
}
.tritext5{
  width: 320px;
}
.tritext7{
  width: 240px;
}
.figure1,.figure2,.figure3,.figure4 {
  position: absolute;top: -508px;left: 44px;
  overflow: hidden;
  width: 480px;
  height: 240px;
}

.figcaption1,.figcaption2,.figcaption3,.figcaption4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 480px;
  height: 240px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}
.figcaption1 p,.figcaption2 p,
.figcaption3 p,.figcaption4 p {
  font-size: 40px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;bottom: -20px;
  text-align: center;
}
.figcaption2 p,.figcaption3 p,.figcaption4 p{
  position: relative;bottom: -8px;
}
.figure1:hover .figcaption1 {
  opacity: 1;
  top: 4px;
  left: 0px;
}
.figure2:hover .figcaption2 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure3:hover .figcaption3 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure4:hover .figcaption4 {
  opacity: 1;
  top: 0px;
  left: 0px;
}

.container{
	margin: 0px;
  width: 410px;
	height: auto;
  background-color: rgba (0,0,255,0);
  float:left;
  position: absolute;top:116px;left:0px;
}
table{
  margin: 5px;
	width: 400px;
  height: auto;
  border-top: 8px solid #D6E1F4;
  border-bottom: 8px solid #D6E1F4;
  position: relative;top: -50px;
}

td,tr,th{
  border: 0px;
  background-color: rgba (0,0,255,0);
  color: white;
  padding: 1px;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
  height: 50px;
  width:56px;
}
th{
  text-align: center;
  vertical-align: middle;
}

.container p {
  font-size: 12px;
}
.container .calendermonth{
  font-size: 40px;
  font-family: Impact;
  color: #D6E1F4;
  text-align: center;
  position: relative;top: -20px
}
.container .poti1{
  color: #68D92D;
  font-weight: 700;
}
.container .poti2{
  color: #6AABF7;
  font-weight: 700;
}
.container .poti3{
  color: #FF0000;
  font-weight: 700;
}

.msr_newslist01 {
  width: 720px;
  position: absolute;top: 144px;
}
.msr_newslist01 li {
  border-bottom: 2px solid #D6E1F4;
  border-top: 2px solid #D6E1F4;
  font-size: 20px;
  font-weight: 700;
  color: #000033;
  width: 720px;
  height: 50px;
}
.msr_newslist01 li a {
  box-sizing: border-box;
  color: #D6E1F4;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.msr_newslist01 li a:hover {
  background: #000088;
  text-decoration: none;
}
.msr_newslist01 li div {
  display: table-cell;
  width: 144px;
}
.msr_newslist01 li p {
  display: table-cell;
  padding: 0px;
  vertical-align: middle;
  position: relative;left: 0px;top: 0px;
}

/* 時間の設定 */
.msr_newslist01 li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
  color: #D6E1F4;
  font-family: impact;
  font-weight: normal;
  position: relative;top: 0px;
}

/* カテゴリの設定 */
.msr_newslist01 li .cat01,
.msr_newslist01 li .cat02,
.msr_newslist01 li .cat03 {
  color: #33FF00;
  border-radius: 1px;
  font-size: 20px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
  position: relative;top:0px;left: 0px;
}
.msr_newslist01 li .cat02 {
  color: #FF0000;
}
.msr_newslist01 li .cat03 {
  color: #6AABF7;
}

.msr_newslist01 p {
  color: #D6E1F4;
}

.mailadd,.JFSA{
  font-size: 24px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;top:-44px;
  text-align: center;
}
.JFSA{
  position: relative;top:40px;
  margin-bottom: 120px;
}
