.imgh1{
  width: 1366px;
  height: 768px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.imgh2{
  position: absolute; top: 160px;left: 683px;
  width: 560px;
  height: 489px;
}
.imgh3{
  width: 683px;
  height: 500px;
  position: absolute;top: 1568px; left: 0px;
}
.imgh4,.imgh5,.imgh6,.imgh7{
  width: 480px;
  height: 240px;
}
.imgh8,.imgh9,.imgh10{
  width: 56px;
  position: relative;top: 66px;left: 190px;
}
.imgh9{
  position: relative;top: 66px;left: 162px;
}
.imgh10{
  width: 84px;
  position: relative;
}
.LINE,.insta,.twitter,.YouTube{
  width: 60px;
  height: 60px;
}
.LINE{
  position: absolute;top: 5196px;left: 509px;
}
.insta{
  position: absolute;top: 5196px;left: 605px;
}
.YouTube{
  position: absolute;top: 5196px;left: 701px;
}
.twitter{
  position: absolute;top: 5196px;left: 797px;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;left: 630px;
}
#menu2{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position: absolute;top: 5074px; left: 314px;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu2 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu2 li a {
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu2 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.aboutposition li ul li{
  position: absolute;left: -100px;
}
.aboutposition li ul{
  position: absolute;left: -100px;
}
#menu1 li ul li{
  overflow: hidden;
  width: 200px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu2 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: #1a5293;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu2 li ul li a{
  padding: 12px 4px;
  background: #1a5293;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: #1a5293;
  color: #e0dc62;
}
#menu2 li:hover > a{
  background: #1a5293;
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid #fff;
}
#menu2 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid #fff;
}
body{
  width: 1366px;
  overflow-x: hidden;
  background-color: #04111C;
  background-image: url("img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2{
  font-size: 32px;
  font-family: Impact;
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:788px;
  text-align: center;
  margin-bottom: 40px;
}
h3{
  font-size: 24px;
  font-family: "Hiragino Sans";
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:795px;
  text-align: center;
  margin-bottom: 0px;
  background-color: red;
}
.title1,.title2,.title3,.title4{
  font-size: 72px;
  color: #D6E1F4;
  font-family: impact;
  position: relative;top: 975px;
  text-align: center;
}
.title2{
  position: relative;top: 1617px;
}
.title3{
  position: absolute;top: 3474px;left: 541px;
}
.title4{
  position: absolute;top: 4228px;left: 601px;
}
.more1,.more2,.more3{
  font-size: 40px;
  color: #D6E1F4;
  font-family: impact;
  position: absolute;top: 3894px; left: 796px;
}
.more2{
  position: absolute;top: 3966px; left: 796px;
}
.more3{
  position: absolute;top: 4038px; left: 796px;
}
.circle1,.circle2,.circle3{
  width: 40px;
  height: 40px;
  background-color: #68D92D;
  border-radius: 50%;
  position: absolute;top:3938px;left:732px;
}
.circle2{
  background-color: #6AABF7;
  position: absolute;top:4010px;left:732px;
}
.circle3{
  background-color: #FF0000;
  position: absolute;top:4082px;left:732px;
}
.bar1{
  width: 80px;
  height: 8px;
  background-color: #D6E1F4;
  position:absolute;top: 1214px;left: 643px;
}
.bar2{
    width: 40px;
    height: 8px;
    background-color: #D6E1F4;
    position:absolute;top: 1234px;left: 663px;
}
.bar3{
    width: 12px;
    height: 8px;
    background-color: #D6E1F4;
    position:absolute;top: 1254px;left: 677px;
}
.bar4,.bar5,.bar10,.bar11{
    width: 60px;
    height: 12px;
    background-color: #D6E1F4;
    position:absolute;top: 1496px;left: 653px;
}
.bar5{
    position:absolute;top: 2298px;left: 653px;
}
.bar6,.bar7,.bar8,.bar9{
  width: 416px;
  height: 4px;
  background-color: #D6E1F4;
  position: relative;top: -300px;left: 80px;
}
.bar7{
  width: 256px;
}
.bar8{
  width: 320px;
}
.bar9{
  width: 224px;
}
.bar10{
  position: absolute;top:3634px;
}
.bar11{
  position: absolute;top: 4388px;
}
.bar12,.bar13{
  width: 720px;
  height: 2px;
  position: absolute;top:4462px;left: 320px;
  background-color: #D6E1F4;
}
.bar13{
  position: absolute;top: 4800px;left: 320px;
}
.hbox1{
  width: 683px;
  height: 500px;
  position: absolute;top: 1568px;left: 683px;
  background-color: #3A1581;
}
.hbox1 p {
  font-size: 24px;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: 100px;left: 62px;
  width: 560px;
  font-weight: 700;
}

.button1,.button2,.button3,.button4,.button5 {
  border: 1px solid #15aeec;
  background-color: #4D84FF;
  background-image: -webkit-linear-gradient(top, #4D84FF, #2cafe3);
  background-image: linear-gradient(to bottom, #4D84FF, #2cafe3);
  border-radius: 24px;
  color: #fff;
  font-family: impact;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  position: absolute;top: 1902px;left: 966px;
  width: 118px;
  hight:48px;
}
.button1:hover,.button2:hover,.button3:hover,
.button4:hover,.button5:hover {
  border:1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.button1:active,.button2:active,.button3:active,
.button4:active,.button5:active  {
  background: #1a92c2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
  color: #1679a1;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}
.button2{
  position: absolute;top: 3932px;left: 990px;
}
.button3{
  position: absolute;top: 4004px; left: 990px;
}
.button4{
  position: absolute;top: 4076px; left: 990px;
}
.button5{
  position: absolute;top: 4862px; left: 624px;
}
.triangle1,.triangle2,.triangle3,.triangle4{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 2448px;left: 204px;
}
.triangle2{
  position: absolute;top: 2448px;left: 806px;
}
.triangle3{
  position: absolute;top: 3016px;left: 0px;
}
.triangle4{
  position: absolute;top: 3016px; left:602px;
}
.tritext1,.tritext3,.tritext5,.tritext7 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: -268px;left: 80px;
  width: 416px;
}
.tritext2,.tritext4,.tritext6,.tritext8 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  width: 330px;
  position: relative;top: -300px;left: 80px;
}
.tritext3{
  width: 256px;
}
.tritext5{
  width: 320px;
}
.tritext7{
  width: 240px;
}
.figure1,.figure2,.figure3,.figure4 {
  position: absolute;top: 2348px;left: 244px;
  overflow: hidden;
  width: 480px;
  height: 240px;
}
.figure2{
  position: absolute;top: 2348px;left: 846px;
}
.figure3{
  position: absolute;top: 2920px;left: 40px;
}
.figure4{
  position: absolute;top: 2920px;left: 642px;
}
.figcaption1,.figcaption2,.figcaption3,.figcaption4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 480px;
  height: 240px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.figure1:hover .figcaption1 {
  opacity: 1;
  top: 4px;
  left: 0px;
}
.figure2:hover .figcaption2 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure3:hover .figcaption3 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure4:hover .figcaption4 {
  opacity: 1;
  top: 0px;
  left: 0px;
}

.container{
	margin: 20px;
  width: 450px;
	height: auto;
  background-color: rgba (0,0,255,0);
  float:left;
  position: absolute;top:3646px;left:214px;
}
table{
  margin: 25px;
	width: 400px;
  height: auto;
  border-top: 8px solid #D6E1F4;
  border-bottom: 8px solid #D6E1F4;
  position: relative;top: -50px;
}

td,tr,th{
  border: 0px;
  background-color: rgba (0,0,255,0);
  color: white;
  padding: 1px;
	font-size: 12px;
	text-align: center;
	vertical-align: top;
  height: 50px;
  width:56px;
}
th{
  text-align: center;
  vertical-align: middle;
}

.container p {
  font-size: 12px;
}
.container .calendermonth{
  font-size: 40px;
  font-family: Impact;
  color: #D6E1F4;
  text-align: center;
  position: relative;top: -20px
}
.container .poti1{
  color: #68D92D;
  font-weight: 700;
}
.container .poti2{
  color: #6AABF7;
  font-weight: 700;
}
.container .poti3{
  color: #FF0000;
  font-weight: 700;
}

.msr_newslist01 {
  width: 720px;
  position: absolute;top: 4448px;left: 280px;
}
.msr_newslist01 li {
  border-bottom: 2px solid #D6E1F4;
  border-top: 2px solid #D6E1F4;
  font-size: 20px;
  font-weight: 700;
  color: #000033;
  width: 720px;
  height: 80px;
}
.msr_newslist01 li a {
  box-sizing: border-box;
  color: #D6E1F4;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.msr_newslist01 li a:hover {
  background: #000088;
  text-decoration: none;
}
.msr_newslist01 li div {
  display: table-cell;
  width: 144px;
}
.msr_newslist01 li p {
  display: table-cell;
  padding-left: 0px;
  vertical-align: middle;
  position: relative;left: -144px;top: 20px;
}

/* 時間の設定 */
.msr_newslist01 li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
  color: #D6E1F4;
  font-family: impact;
  font-weight: normal;
}

/* カテゴリの設定 */
.msr_newslist01 li .cat01,
.msr_newslist01 li .cat02,
.msr_newslist01 li .cat03 {
  color: #33FF00;
  border-radius: 1px;
  font-size: 20px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
  position: relative;top:-1px;left: 16px;
}
.msr_newslist01 li .cat02 {
  color: #FF0000;
}
.msr_newslist01 li .cat03 {
  color: #6AABF7;
}

.msr_newslist01 p {
  color: #D6E1F4;
}

.mailadd,.JFSA{
  font-size: 24px;
  font-family: impact;
  color: #D6E1F4;
  position: absolute;top:5120px;left: 554px;
}
.JFSA{
  position: absolute;top:5256px;left: 471px;
  margin-bottom: 120px;
}
