body{
  width: 1366px;
  overflow-x: hidden;
  background-color: #04111C;
  background-image: url("img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.imgt1{
  width: 1366px;
  height: 400px;
  filter: blur(6px);
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.cover{
  width: 1366px;
  height: 400px;
  background-color: black;
  position: absolute;top: 0px;left: 0px;
  opacity: 0.5;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;left: 630px;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: white;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.aboutposition li ul li{
  position: absolute;left: -100px;
}
.aboutposition li ul{
  position: absolute;left: -100px;
}
#menu1 li ul li{
  overflow: hidden;
  width: 200px;
  height: 0;
  color: white;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: #1a5293;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: #1a5293;
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid #fff;
}
.title1{
  font-size: 96px;
  font-family: impact;
  color: white;
  position: absolute;top: 17px;left: 579px;
  background-color: blue;
}
.title2{
  font-size: 32px;
  color: #D6E1F4;
  font-weight: 700;
  font-family: "Hiragino Sans";
  position: absolute;top: 213px;left: 477px;
  background-color: red;
}
.bar1{
  width: 416px;
  height: 4px;
  position: absolute;top: 300px;left: 477px;
  background-color: white;
}
